<div class="flex justify-between pt-6 pb-6">
    <div class="flex flex-col items-center w-2/4 bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <div 
            *ngFor="let product of products">
                <img class=" w-full rounded-t-lg h-fit md:h-auto md:rounded-none md:rounded-l-lg" src="{{product.image}}">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.title}}</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{product.price | currency}}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{product.description}}</p>
                <h6 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.category}}</h6>
            </div>
            <div class="flex flex-row justify-between pr-10 pl-10 pb-6">
                <a routerLink="/" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Product lists
                </a>
                <button class="ml-3 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                (click)="addToCart(product)"
                >add to wishlist</button>
            </div>
        </div>
    </div>

    
    <div class="flex flex-col pr-32 w-2/4">
        <h1 class="pb-5 pt-3 pl-7 text-3xl">Shipping Prices</h1>
        <app-shipping *ngFor="let shippingPrices of shippingPrice" [shipping]="shippingPrices"></app-shipping>
        <p class="pl-5 pt-5">Dear valued customer, we wish to inform you that the shipping prices is based on the urgency and how soon you need the product to be delivered. If you require expedited shipping or next-day delivery, the shipping price will be higher than standard shipping. We strive to offer competitive shipping rates while ensuring that your package arrives safely and promptly. If you have any further questions about our shipping rates or would like to place an order, please do not hesitate to contact us.</p>
    </div>
   
    
</div>